.PriceItem {
  flex: 1;
  margin-right: 1rem;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $navy;
  border: 1px solid $navy;
  border-radius: 6px;
  margin-bottom: 2rem;

  .name {
    color: $gray;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  div {
    display: flex;

    .price {
      margin-left: 1.5rem;
      margin-right: 0.5rem;
      font-size: 3rem;
      color: $gray;
    }

    .change {
      margin: auto 0;
      font-size: 1.7rem;
      color: $green;
    }
  }
}
