.DashBoard {
  position: relative;

  .price-tab {
    width: 100%;

    .mobile-price {
      display: flex;
      justify-content: space-between;
      padding: 2rem 1rem;
      background-color: $navy;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;

      .price-btn {
        height: 100%;
        margin: auto 0;

        button {
          outline: none;
          margin: auto 0;
          padding: 1rem 2rem;
          height: 100%;
          background-color: $red;
          border: 1px solid $red;
          color: $white;
          font-size: 2rem;
          letter-spacing: 1px;
        }
      }

      .your-total {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        height: 100%;
        font-size: 2.5rem;

        p {
          margin-right: 0.5rem;
          color: $gray;
          letter-spacing: 1px;
        }

        div {
          display: flex;
          flex-direction: column;

          .arrow-icon {
            margin-top: 1.5rem;
            font-size: 3.5rem;
            color: $green;
          }
        }
      }
    }

    .desk-price {
      display: none;
    }
  }

  .search-add-tab {
    background-color: $navy;

    .mobile-search-add-tab {
      display: flex;
      padding: 2rem 1rem;
      border-top: 1px solid $black;

      .search {
        height: 100%;
        width: 50%;

        input {
          outline: none;
          height: 100%;
          width: 100%;
          padding: 1rem;
        }
      }

      .add-item {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.5rem;

        button {
          outline: none;
          margin: auto 0;
          padding: 1rem;
          width: 100%;
          background-color: $red;
          border: 2px solid $red;
          color: $white;
        }
      }
    }
  }

  .chart-content {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;

    div {
      &:not(:last-of-type) {
        // margin-right: 2rem;
      }
    }
  }

  .search-add {
    display: none;
  }
}

.fixed-price {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.new-chart-content {
  margin-top: 8.5rem;
}

.edit-modal {
  width: 100%;

  .title {
    margin-bottom: 1rem;

    h1,
    p {
      text-align: center;
      color: $gray;
    }

    h1 {
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }

    p {
      display: none;
      font-size: 1.4rem;
    }
  }

  form {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      width: 100%;

      input:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }

    input,
    button {
      width: 80%;
      padding: 1rem 2rem;
    }

    button {
      cursor: pointer;
      font: "Recursive", sans-serif;
      font-size: 1.5rem;
      color: $white;
      background-color: $green;
      border: 1px solid $green;
      transition: all 0.2s;

      &:hover {
        background-color: lighten($color: $green, $amount: 10);
        border-color: lighten($color: $green, $amount: 10);
      }
    }
  }
}

.modal-content {
  width: 100%;

  form {
    padding: 2rem 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--inputs,
  &--btn,
  &--select {
    width: 80%;
  }

  &--select {
    margin-bottom: 2rem;
    position: relative;

    select {
      outline: none;
      width: 100%;
      padding: 1rem;
      font-family: "Recursive", sans-serif;
      font-size: 1.5rem;
      color: $black-t;
    }
  }

  &--info {
    h1 {
      text-align: center;
      font-size: 2.3rem;
      font-weight: 400;
      color: $gray;
    }

    p {
      display: none;
    }
  }

  &--inputs {
    margin-bottom: 2rem;

    input {
      padding: 1rem;
      width: 100%;
      outline: none;

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }
  }

  &--btn {
    display: flex;
    justify-content: center;

    button {
      cursor: pointer;
      width: 100%;
      margin: 0 auto;
      padding: 1rem 2rem;
      color: $white;
      background-color: $red;
      border: 1px solid $red;
      transition: all 0.2s;
      font-size: 1.5rem;

      &:hover {
        background-color: lighten($color: $red, $amount: 10);
        border-color: lighten($color: $red, $amount: 10);
      }
    }
  }
}

@media only screen and (min-width: 458px) {
  .DashBoard {
    .chart-content {
      div {
        &:not(:last-of-type) {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .DashBoard {
    display: flex;
    justify-content: space-between;

    div {
      width: 100%;
    }

    .search-add-tab {
      display: none;
    }

    .price-tab {
      position: relative;
      width: 20%;
      height: 100%;
      z-index: 250;
      background-color: $black;

      .desk-price {
        padding: 2rem;
        overflow: auto;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
      }

      .mobile-price {
        display: none;
      }
    }

    .search-add-tab {
      background-color: $navy;

      .mobile-search-add-tab {
        display: none;
      }
    }

    .search-add {
      display: flex;
      flex-direction: column;
      width: 28%;
      padding: 2rem;

      .total-investments {
        width: 100%;
      }

      input,
      button {
        outline: none;
      }

      input {
        width: 100%;
        padding: 1rem;
      }

      button {
        cursor: pointer;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        color: $white;
        background-color: $red;
        border: 1px solid $red;
        transition: all 0.2s;

        &:hover {
          border-color: lighten($color: $red, $amount: 10);
          background-color: lighten($color: $red, $amount: 10);
        }
      }
    }

    .chart-content {
      width: 60%;
      justify-content: flex-start;

      // &:not(:last-of-type) {
      //   div {
      //     margin-right: 1.5rem;
      //   }
      // }
    }
  }

  .fixed-price {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .edit-modal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .title {
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin-bottom: 0rem;

      h1 {
        font-size: 3rem;
      }

      p {
        display: block;
        font-size: 1.8rem;
      }
    }

    form {
      padding: 2rem 0;
      width: 50%;
    }
  }

  .modal-content {
    width: 100%;
    display: flex;

    &--info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      .content {
        padding: 0 2rem;

        h1 {
          margin-bottom: 2rem;
          text-align: center;
          font-size: 2.8rem;
          font-weight: 400;
          color: $gray;
        }

        p {
          padding: 0 4rem;
          display: flex;
          text-align: center;
          color: $gray;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 25px;
        }
      }
    }

    form {
      padding: 2rem 0;
      display: flex;
      width: 50%;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

    &--inputs,
    &--btn,
    &--select {
      width: 100%;
      padding-right: 4rem;
    }

    &--inputs {
      margin-bottom: 2rem;

      input {
        padding: 1rem;
        width: 100%;
        outline: none;

        &:not(:last-of-type) {
          margin-bottom: 1rem;
        }
      }
    }

    &--btn {
      display: flex;
      justify-content: center;

      button {
        width: 100%;
        margin: 0 auto;
        padding: 1rem 2rem;
        color: $white;
        background-color: $red;
        border: 1px solid $red;
      }
    }
  }
}
