.DashBoard {
  position: relative;

  .price-tab {
    // position: fixed;
    width: 100%;

    .mobile-price {
      display: flex;
      justify-content: space-between;
      padding: 2rem 1rem;
      background-color: $navy;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;

      .price-btn {
        height: 100%;
        margin: auto 0;

        button {
          outline: none;
          margin: auto 0;
          padding: 1rem 2rem;
          height: 100%;
          background-color: $red;
          border: 1px solid $red;
          color: $white;
          font-size: 2rem;
          letter-spacing: 1px;
        }
      }

      .your-total {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        height: 100%;
        font-size: 2.5rem;

        p {
          margin-right: 0.5rem;
          color: $gray;
          letter-spacing: 1px;
        }

        div {
          display: flex;
          flex-direction: column;

          .arrow-icon {
            margin-top: 1.5rem;
            font-size: 3.5rem;
            color: $green;
          }
        }
      }
    }

    .desk-price {
      display: none;
    }
  }

  .search-add-tab {
    background-color: $navy;

    .mobile-search-add-tab {
      display: flex;
      padding: 2rem 1rem;
      border-top: 1px solid $black;

      .search {
        height: 100%;
        width: 50%;

        input {
          outline: none;
          height: 100%;
          width: 100%;
          padding: 1rem;
        }
      }

      .add-item {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.5rem;

        button {
          outline: none;
          margin: auto 0;
          padding: 1rem;
          width: 100%;
          background-color: $red;
          border: 2px solid $red;
          color: $white;
        }
      }
    }
  }

  .chart-content {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;

    div {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }

  .search-add {
    display: none;
  }
}

.fixed-price {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.new-chart-content {
  margin-top: 8.5rem;
}

@media only screen and (min-width: 1200px) {
  .DashBoard {
    display: flex;
    justify-content: space-between;

    div {
      width: 100%;
    }

    .search-add-tab {
      display: none;
    }

    .price-tab {
      position: relative;
      width: 20%;
      height: 100%;
      z-index: 250;
      background-color: $black;

      .desk-price {
        // position: fixed;
        // top: 10rem;
        // left: 0;
        padding: 2rem;
        overflow: auto;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;

        // .search-add {
        //   display: flex;
        //   flex-direction: column;

        //   input,
        //   button {
        //     outline: none;
        //   }

        //   input {
        //     width: 100%;
        //     padding: 1rem;
        //   }

        //   button {
        //     cursor: pointer;
        //     margin-top: 1rem;
        //     width: 100%;
        //     padding: 1rem;
        //     font-size: 1.5rem;
        //     color: $white;
        //     background-color: $red;
        //     border: 1px solid $red;
        //     transition: all 0.2s;

        //     &:hover {
        //       border-color: lighten($color: $red, $amount: 10);
        //       background-color: lighten($color: $red, $amount: 10);
        //     }
        //   }
        // }
      }

      .mobile-price {
        display: none;
      }
    }

    .search-add-tab {
      background-color: $navy;

      .mobile-search-add-tab {
        display: none;
      }
    }

    .search-add {
      display: flex;
      flex-direction: column;
      width: 28%;
      padding: 2rem;

      .total-investments {
        width: 100%;
      }

      input,
      button {
        outline: none;
      }

      input {
        width: 100%;
        padding: 1rem;
      }

      button {
        cursor: pointer;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        color: $white;
        background-color: $red;
        border: 1px solid $red;
        transition: all 0.2s;

        &:hover {
          border-color: lighten($color: $red, $amount: 10);
          background-color: lighten($color: $red, $amount: 10);
        }
      }
    }

    .chart-content {
      width: 60%;
      justify-content: flex-start;
    }
  }

  .fixed-price {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }

  // .new-chart-content {
  //   margin-top: 8.5rem;
  // }
}
