.ResetPassword {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    width: 100%;
    input {
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}
