@keyframes fade-in {
  0% {
    opacity: 0;
    margin-top: -1000px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.Modal {
  padding: 0 2rem;
  position: fixed;
  min-width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $black-t;
    z-index: 1500;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fade-in 0.3s ease-in;
    padding: 1rem;
    position: inherit;
    z-index: 2000;
    overflow: hidden;
    width: 80%;
    height: 50%;
    background-color: $navy;
    border: 1px solid $black;
    border-radius: 6px;

    .close-icon {
      cursor: pointer;
      font-size: 2rem;
      margin-bottom: 1rem;
      position: fixed;
      color: $white;
    }

    .dynamic-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (min-width: 1480px) {
  .Modal {
    &__content {
      width: 60%;
    }
  }
}
