.Modal {
  padding: 0 2rem;
  position: fixed;
  min-width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $black-t;
    z-index: 1500;
  }

  &__content {
    padding: 1rem;
    position: relative;
    z-index: 2000;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    background-color: $white;
    border: 1px solid $white;
    border-radius: 6px;

    .close-icon {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}
