.SectionElement {
  padding: 4rem 1rem;
  // background-color: $black;

  .header-content {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;

    h1 {
      margin-bottom: 2rem;
      text-align: center;
      font-size: 3rem;
      color: $red;
    }

    div {
      margin: 0 auto;
      width: 12rem;
      height: 0.5rem;
      background-color: $red;
    }
  }

  p {
    text-align: center;
    font-size: 1.8rem;
    color: $white;
    line-height: 3rem;
  }
}

@media only screen and (min-width: 1030px) {
  .SectionElement {
    padding: 6rem 1rem;

    .header-content {
      margin-bottom: 4rem;
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 5rem;
        font-weight: 400;
      }

      div {
        margin: 0 auto;
        width: 16rem;
        height: 0.5rem;
        background-color: $red;
      }
    }

    p {
      text-align: center;
      font-size: 1.8rem;
      color: $white;
      line-height: 3rem;
    }

    .content {
      padding: 0 1rem;
      display: flex;
    }
  }
}

@media only screen and (min-width: 1460px) {
  .SectionElement {
    padding: 15rem 1rem;

    .header-content {
      margin-top: -6rem;
    }
  }
}
