.Footer {
  padding: 2rem;
  background-color: $navy;

  .footer-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .group-links {
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0.5rem 0;
    font-size: 2rem;
    color: $gray;
    transition: all 0.2s;

    &:hover {
      color: $white;
    }
  }

  .copyright {
    margin-top: 2rem;
    p {
      color: $black;
      font-size: 2rem;
      text-align: center;
    }
  }
}
