.PageNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  height: 100%;
  width: 100%;

  h1 {
    font-size: 3rem;
    color: $gray;
  }

  .err-link {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: $red;
    transition: all 0.1s;

    &:hover {
      color: lighten($color: $red, $amount: 10);
    }
  }
}
