.Totals {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $white;

  h2 {
    margin-right: 2rem;
    font-size: 2rem;
  }

  .amount {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
