.Totals {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $white;

  h2 {
    margin-right: 2rem;
    font-size: 2rem;
  }

  .amount {
    width: 30%;
    display: flex;

    h1 {
      margin-right: 0.5rem;
    }

    .icon {
      margin-top: 0.3rem;
      height: 100%;
      font-size: 2.5rem;
      color: $green;
    }
  }
}
