*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Recursive", sans-serif;
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $black;

  .main-wrapper {
    flex: 1;
  }
}

.NavLink {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $black-t;
  border: 1px solid $black-t;
}

::-webkit-scrollbar-thumb {
  background-color: $black-t;
  border: 1px solid $black-t;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $black;
  border: 1px solid $black;
}
