*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Recursive", sans-serif;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $black;

  .main-wrapper {
    flex: 1;
  }

  .pages {
    margin-top: 7.5rem;
  }
}

.NavLink {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $black-t;
  border: 1px solid $black-t;
}

::-webkit-scrollbar-thumb {
  background-color: $black-t;
  border: 1px solid $black-t;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $black;
  border: 1px solid $black;
}

.roll-appear {
  opacity: 0;
}
.roll-enter {
  opacity: 0;
}

.roll-enter-done {
  transform: rotate(720deg) scale(3);
  opacity: 1;
  transition: transform 1000ms, opacity 1000ms;
}
