@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600&display=swap");

@import "./vars";
@import "./base";

// COMPONENTS
@import "./../../components/pages/HomePage/HomePage";
@import "./../../components/pages/HomePage/SectionElements/SectionElements";
@import "./../../components/pages/HomePage/Intruction/Instruction";
@import "./../../components/Nav/Nav";
@import "./../../components/Nav/NavLinks/BaseLinks/BaseLinks";
@import "./../../components/Nav/NavLinks/LoginLink/LoginLink";
@import "./../../components/Footer/Footer";
@import "./../../components/pages/Auth/Auth";
@import "./../../components/pages/Auth/Login/Login";
@import "./../../components/pages/Auth/Signup/Signup";
@import "./../../components/pages/DashBoard/DashBoard";
@import "./../../components/pages/DashBoard/ChartItem/ChartItem";
@import "./../../components/pages/DashBoard/ChartItem/LineChart/LineChart";
@import "./../../components/pages/Prices/Prices";
@import "./../../components/pages/DashBoard/Totals/Totals";
@import "./../../components/pages/Prices/PricesItem/PriceItem";
@import "./../../components/pages/AboutMetals/AboutMetals";
@import "./../../components/pages/PageNotFound/PageNotFound";
@import "./../../components/pages/DashBoard/AddedCommodity/AddedCommodity";

// @import "./../../components/";
