@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600&display=swap");
*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Recursive", sans-serif;
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #222831; }
  .App .main-wrapper {
    flex: 1; }

.NavLink {
  text-decoration: none; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background-color: #222831b2;
  border: 1px solid #222831b2; }

::-webkit-scrollbar-thumb {
  background-color: #222831b2;
  border: 1px solid #222831b2;
  border-radius: 8px; }

::-webkit-scrollbar-thumb {
  background-color: #222831;
  border: 1px solid #222831; }

::placeholder {
  font-family: "Recursive", sans-serif;
  font-size: 1.5rem; }

.HomePage .home-intro {
  background: linear-gradient(#222831b2, #222831b2), url(/src/assets/coin-rounds-img.jpg);
  background-position: top right;
  background-size: cover;
  background-color: #222831b2;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .HomePage .home-intro .main-home-copy {
    margin-bottom: 4rem;
    padding: 0 1rem;
    color: #fff;
    text-align: center; }
    .HomePage .home-intro .main-home-copy h1 {
      margin-bottom: 2rem;
      font-size: 4rem;
      font-weight: 400; }
    .HomePage .home-intro .main-home-copy h2 {
      font-size: 2rem;
      font-weight: 200; }
  .HomePage .home-intro .get-started {
    padding: 1rem 2rem;
    border: 1px solid #f05454;
    font-size: 1.5rem; }

.HomePage form {
  width: 100%;
  padding: 0 1rem; }
  .HomePage form input,
  .HomePage form textarea {
    width: 100%;
    padding: 1rem;
    outline: none;
    resize: vertical;
    font-family: "Recursive", sans-serif; }
  .HomePage form .name-inputs,
  .HomePage form .email-input,
  .HomePage form .message-input {
    margin-bottom: 1rem; }
  .HomePage form .form-btn button {
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid #f05454;
    font-size: 2rem;
    background-color: #f05454;
    color: #fff; }

@media only screen and (min-width: 1030px) {
  .HomePage .home-intro {
    background-position: center;
    min-height: 65vh; }
    .HomePage .home-intro .main-home-copy {
      margin-bottom: 4rem;
      padding: 0 1rem;
      color: #fff;
      text-align: center; }
      .HomePage .home-intro .main-home-copy h1 {
        margin-bottom: 2rem;
        font-size: 8rem;
        font-weight: 200; }
      .HomePage .home-intro .main-home-copy h2 {
        font-size: 3rem;
        font-weight: 200; }
    .HomePage .home-intro .get-started {
      padding: 1rem 2rem;
      border: 1px solid #f05454;
      font-size: 2rem;
      transition: all 0.2s; }
      .HomePage .home-intro .get-started:hover {
        background-color: #f05454; }
  .HomePage .about-text {
    padding: 0 2rem;
    line-height: 3.5rem; }
  .HomePage form {
    padding: 0 5rem; }
    .HomePage form .name-inputs,
    .HomePage form .email-input,
    .HomePage form .message-input {
      margin-bottom: 2rem; }
    .HomePage form .name-inputs {
      display: flex;
      margin-bottom: 2rem; }
      .HomePage form .name-inputs input:not(:last-of-type) {
        margin-right: 1rem; }
    .HomePage form textarea {
      min-height: 15rem; }
    .HomePage form .form-btn button {
      cursor: pointer;
      transition: all 0.2s; }
      .HomePage form .form-btn button:hover {
        border-color: #f48383;
        background-color: #f48383; } }

@media only screen and (min-width: 1460px) {
  .HomePage form {
    padding: 0 15rem; } }

@media only screen and (min-width: 1670px) {
  .HomePage .about-text {
    padding: 0 4rem;
    line-height: 3.5rem; }
  .HomePage form {
    padding: 0 20rem; } }

.SectionElement {
  padding: 4rem 1rem; }
  .SectionElement .header-content {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column; }
    .SectionElement .header-content h1 {
      margin-bottom: 2rem;
      text-align: center;
      font-size: 3rem;
      color: #f05454; }
    .SectionElement .header-content div {
      margin: 0 auto;
      width: 12rem;
      height: 0.5rem;
      background-color: #f05454; }
  .SectionElement p {
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    line-height: 3rem; }

@media only screen and (min-width: 1030px) {
  .SectionElement {
    padding: 6rem 1rem; }
    .SectionElement .header-content {
      margin-bottom: 4rem;
      display: flex;
      flex-direction: column; }
      .SectionElement .header-content h1 {
        font-size: 5rem;
        font-weight: 400; }
      .SectionElement .header-content div {
        margin: 0 auto;
        width: 16rem;
        height: 0.5rem;
        background-color: #f05454; }
    .SectionElement p {
      text-align: center;
      font-size: 1.8rem;
      color: #fff;
      line-height: 3rem; }
    .SectionElement .content {
      padding: 0 1rem;
      display: flex; } }

@media only screen and (min-width: 1460px) {
  .SectionElement {
    padding: 15rem 1rem; }
    .SectionElement .header-content {
      margin-top: -6rem; } }

.Instruction {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0; }
  .Instruction .instruction-img {
    width: 20rem;
    height: 15rem;
    color: #f05454;
    margin-bottom: 1rem; }
    .Instruction .instruction-img div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 7rem; }
  .Instruction .text-content {
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    color: #fff; }

@media only screen and (min-width: 1030px) {
  .Instruction {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0; }
    .Instruction .instruction-img {
      width: 20rem;
      height: 15rem;
      color: #f05454;
      margin-bottom: 1rem; }
      .Instruction .instruction-img div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 7rem; }
    .Instruction .text-content {
      width: 100%;
      font-size: 1.6rem;
      text-align: center;
      color: #fff; } }

@media only screen and (min-width: 1460px) {
  .Instruction .instruction-img div {
    font-size: 10rem; }
  .Instruction .text-content {
    font-size: 2.3rem; } }

.Nav {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #30475e; }
  .Nav .nav-bars,
  .Nav .nav-logo,
  .Nav .nav-items {
    margin: auto 0; }
  .Nav .nav-logo {
    cursor: pointer; }
    .Nav .nav-logo p {
      color: #dddddd; }
  .Nav .nav-bars {
    font-size: 3rem;
    color: #dddddd; }
  .Nav .nav-logo {
    font-size: 2.5rem;
    color: #dddddd; }
  .Nav .nav-items {
    display: none; }

@media only screen and (min-width: 1030px) {
  .Nav .nav-bars {
    display: none; }
  .Nav .nav-items {
    display: flex; }
    .Nav .nav-items p {
      font-size: 2rem;
      color: #dddddd; }
    .Nav .nav-items .generic-btn {
      height: 100%;
      padding: 0.5rem 1rem; }
      .Nav .nav-items .generic-btn p {
        height: 100%;
        margin: auto 0;
        transition: all 0.2s; }
        .Nav .nav-items .generic-btn p:hover {
          color: #fff; }
        .Nav .nav-items .generic-btn p:last-of-type {
          margin-right: 1rem; }
    .Nav .nav-items .login-btn {
      background-color: #f05454;
      border: 1px solid #f05454;
      padding: 0.5rem 2rem;
      transition: all 0.2s; }
      .Nav .nav-items .login-btn:hover {
        background-color: #f48383;
        border-color: #f48383; } }

.BaseLinks {
  text-decoration: none;
  height: 100%; }

.LoginLink {
  color: #fff; }

.Footer {
  padding: 2rem;
  background-color: #30475e; }
  .Footer .footer-links {
    display: flex;
    justify-content: space-around;
    width: 100%; }
  .Footer .group-links {
    display: flex;
    flex-direction: column; }
  .Footer p {
    margin: 0.5rem 0;
    font-size: 2rem;
    color: #dddddd;
    transition: all 0.2s; }
    .Footer p:hover {
      color: #fff; }
  .Footer .copyright {
    margin-top: 2rem; }
    .Footer .copyright p {
      color: #222831;
      font-size: 2rem;
      text-align: center; }

.Auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff; }
  .Auth .auth-header h1,
  .Auth .auth-header h3 {
    text-align: center;
    margin-bottom: 2rem; }
  .Auth .auth-header h1 {
    font-size: 3rem;
    font-weight: 400; }
  .Auth .auth-header h3 {
    font-size: 2rem;
    font-weight: 200; }
  .Auth .auth-content form {
    padding: 0 2rem; }
    .Auth .auth-content form input {
      outline: none;
      width: 100%;
      padding: 1rem; }
    .Auth .auth-content form .name-inputs,
    .Auth .auth-content form .email-input {
      margin-bottom: 2rem; }
    .Auth .auth-content form .inputs {
      margin-bottom: 2rem; }
    .Auth .auth-content form button {
      width: 100%;
      padding: 1rem 0;
      color: #fff;
      background-color: #f05454;
      border: 1px solid #f05454;
      font-size: 1.8rem; }
      .Auth .auth-content form button:hover {
        background-color: #f48383;
        border-color: #f48383; }
  .Auth .auth-link {
    margin-top: 2rem;
    display: flex; }
    .Auth .auth-link .link-text,
    .Auth .auth-link p {
      font-size: 1.3rem; }
    .Auth .auth-link .link-text {
      cursor: pointer;
      margin-left: 0.5rem;
      text-decoration: none;
      color: #f05454;
      border-bottom: 1px solid #f05454; }

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #222831; }

.Signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #222831; }

.DashBoard {
  position: relative; }
  .DashBoard .price-tab {
    width: 100%; }
    .DashBoard .price-tab .mobile-price {
      display: flex;
      justify-content: space-between;
      padding: 2rem 1rem;
      background-color: #30475e;
      border-top: 1px solid #222831;
      border-bottom: 1px solid #222831; }
      .DashBoard .price-tab .mobile-price .price-btn {
        height: 100%;
        margin: auto 0; }
        .DashBoard .price-tab .mobile-price .price-btn button {
          outline: none;
          margin: auto 0;
          padding: 1rem 2rem;
          height: 100%;
          background-color: #f05454;
          border: 1px solid #f05454;
          color: #fff;
          font-size: 2rem;
          letter-spacing: 1px; }
      .DashBoard .price-tab .mobile-price .your-total {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        height: 100%;
        font-size: 2.5rem; }
        .DashBoard .price-tab .mobile-price .your-total p {
          margin-right: 0.5rem;
          color: #dddddd;
          letter-spacing: 1px; }
        .DashBoard .price-tab .mobile-price .your-total div {
          display: flex;
          flex-direction: column; }
          .DashBoard .price-tab .mobile-price .your-total div .arrow-icon {
            margin-top: 1.5rem;
            font-size: 3.5rem;
            color: #61b15a; }
    .DashBoard .price-tab .desk-price {
      display: none; }
  .DashBoard .search-add-tab {
    background-color: #30475e; }
    .DashBoard .search-add-tab .mobile-search-add-tab {
      display: flex;
      padding: 2rem 1rem;
      border-top: 1px solid #222831; }
      .DashBoard .search-add-tab .mobile-search-add-tab .search {
        height: 100%;
        width: 50%; }
        .DashBoard .search-add-tab .mobile-search-add-tab .search input {
          outline: none;
          height: 100%;
          width: 100%;
          padding: 1rem; }
      .DashBoard .search-add-tab .mobile-search-add-tab .add-item {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.5rem; }
        .DashBoard .search-add-tab .mobile-search-add-tab .add-item button {
          outline: none;
          margin: auto 0;
          padding: 1rem;
          width: 100%;
          background-color: #f05454;
          border: 2px solid #f05454;
          color: #fff; }
  .DashBoard .chart-content {
    padding: 2rem; }

.fixed-price {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100; }

.new-chart-content {
  margin-top: 8.5rem; }

@media only screen and (min-width: 1200px) {
  .DashBoard {
    display: flex;
    justify-content: space-between; }
    .DashBoard div {
      width: 100%; }
    .DashBoard .search-add-tab {
      display: none; }
    .DashBoard .price-tab {
      position: relative;
      width: 20%;
      height: 100%;
      z-index: 250;
      background-color: #222831; }
      .DashBoard .price-tab .desk-price {
        padding: 2rem;
        overflow: auto;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto; }
      .DashBoard .price-tab .mobile-price {
        display: none; }
    .DashBoard .search-add-tab {
      background-color: #30475e; }
      .DashBoard .search-add-tab .mobile-search-add-tab {
        display: none; }
    .DashBoard .search-add {
      display: flex;
      flex-direction: column;
      width: 28%;
      padding: 2rem; }
      .DashBoard .search-add input,
      .DashBoard .search-add button {
        outline: none; }
      .DashBoard .search-add input {
        width: 100%;
        padding: 1rem; }
      .DashBoard .search-add button {
        cursor: pointer;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        color: #fff;
        background-color: #f05454;
        border: 1px solid #f05454;
        transition: all 0.2s; }
        .DashBoard .search-add button:hover {
          border-color: #f48383;
          background-color: #f48383; }
    .DashBoard .chart-content {
      width: 60%;
      display: flex;
      flex-wrap: wrap; }
  .fixed-price {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100; } }

.ChartItem {
  margin: 2rem 0;
  background-color: #30475e;
  border: 1px solid #30475e;
  border-radius: 6px; }
  .ChartItem .name-price {
    padding: 1rem;
    display: flex;
    justify-content: space-between; }
    .ChartItem .name-price .investment--name {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      color: #dddddd; }
    .ChartItem .name-price .investment--value {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem; }
      .ChartItem .name-price .investment--value .amount {
        color: #dddddd; }
      .ChartItem .name-price .investment--value .arrow-icon {
        margin-left: 0.5rem;
        margin-top: 1rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: #61b15a; }

@media only screen and (min-width: 1200px) {
  .ChartItem {
    margin-right: 1rem;
    width: 100%; }
    .ChartItem .name-price .investment--name {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      color: #dddddd; }
    .ChartItem .name-price .investment--value {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem; }
      .ChartItem .name-price .investment--value .amount {
        color: #dddddd; }
      .ChartItem .name-price .investment--value .arrow-icon {
        margin-left: 0.5rem;
        margin-top: 1rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: #61b15a; }
    .ChartItem .chart-content {
      width: 100%;
      height: 100%; }
      .ChartItem .chart-content .chart-plot {
        width: 100%; }
        .ChartItem .chart-content .chart-plot .chart {
          padding: 0;
          margin: 0; } }

.Prices {
  padding: 2rem;
  background-color: #222831; }

@media only screen and (min-width: 900px) {
  .Prices {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; } }

.PriceItem {
  flex: 1;
  width: 100%;
  margin-right: 1rem;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #30475e;
  border: 1px solid #30475e;
  border-radius: 6px;
  margin-bottom: 2rem; }
  .PriceItem .name {
    color: #dddddd;
    font-size: 2.5rem;
    margin-bottom: 1rem; }
  .PriceItem div {
    display: flex;
    justify-content: center; }
    .PriceItem div .price {
      margin-left: 1.5rem;
      margin-right: 0.5rem;
      font-size: 3rem;
      color: #dddddd; }
    .PriceItem div .change {
      margin: auto 0;
      font-size: 1.7rem;
      color: #61b15a; }
